web/WEB-INF/wsdl/172.16.0.6/SGNManagerWS/WebService1.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sgnservice.com.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://sgnservice.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sgnservice.com.br/">
      <s:element name="LerEmpregados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="relogio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LerEmpregadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LerEmpregadosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="totalFuncionarios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="relogio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="totalFuncionariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="totalFuncionariosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="totalDigitais">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="relogio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="totalDigitaisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="totalDigitaisResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="capacidadeDigitais">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="relogio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="capacidadeDigitaisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="capacidadeDigitaisResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setHora">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="relogio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ano" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="hora" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minuto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="segundo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setHoraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setHoraResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="int" type="s:int" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LerEmpregadosSoapIn">
    <wsdl:part name="parameters" element="tns:LerEmpregados" />
  </wsdl:message>
  <wsdl:message name="LerEmpregadosSoapOut">
    <wsdl:part name="parameters" element="tns:LerEmpregadosResponse" />
  </wsdl:message>
  <wsdl:message name="totalFuncionariosSoapIn">
    <wsdl:part name="parameters" element="tns:totalFuncionarios" />
  </wsdl:message>
  <wsdl:message name="totalFuncionariosSoapOut">
    <wsdl:part name="parameters" element="tns:totalFuncionariosResponse" />
  </wsdl:message>
  <wsdl:message name="totalDigitaisSoapIn">
    <wsdl:part name="parameters" element="tns:totalDigitais" />
  </wsdl:message>
  <wsdl:message name="totalDigitaisSoapOut">
    <wsdl:part name="parameters" element="tns:totalDigitaisResponse" />
  </wsdl:message>
  <wsdl:message name="capacidadeDigitaisSoapIn">
    <wsdl:part name="parameters" element="tns:capacidadeDigitais" />
  </wsdl:message>
  <wsdl:message name="capacidadeDigitaisSoapOut">
    <wsdl:part name="parameters" element="tns:capacidadeDigitaisResponse" />
  </wsdl:message>
  <wsdl:message name="setHoraSoapIn">
    <wsdl:part name="parameters" element="tns:setHora" />
  </wsdl:message>
  <wsdl:message name="setHoraSoapOut">
    <wsdl:part name="parameters" element="tns:setHoraResponse" />
  </wsdl:message>
  <wsdl:message name="LerEmpregadosHttpGetIn">
    <wsdl:part name="ip" type="s:string" />
    <wsdl:part name="port" type="s:string" />
    <wsdl:part name="relogio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LerEmpregadosHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="totalFuncionariosHttpGetIn">
    <wsdl:part name="ip" type="s:string" />
    <wsdl:part name="port" type="s:string" />
    <wsdl:part name="relogio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="totalFuncionariosHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="totalDigitaisHttpGetIn">
    <wsdl:part name="ip" type="s:string" />
    <wsdl:part name="port" type="s:string" />
    <wsdl:part name="relogio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="totalDigitaisHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="capacidadeDigitaisHttpGetIn">
    <wsdl:part name="ip" type="s:string" />
    <wsdl:part name="port" type="s:string" />
    <wsdl:part name="relogio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="capacidadeDigitaisHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="setHoraHttpGetIn">
    <wsdl:part name="ip" type="s:string" />
    <wsdl:part name="port" type="s:string" />
    <wsdl:part name="relogio" type="s:string" />
    <wsdl:part name="dia" type="s:string" />
    <wsdl:part name="mes" type="s:string" />
    <wsdl:part name="ano" type="s:string" />
    <wsdl:part name="hora" type="s:string" />
    <wsdl:part name="minuto" type="s:string" />
    <wsdl:part name="segundo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setHoraHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LerEmpregadosHttpPostIn">
    <wsdl:part name="ip" type="s:string" />
    <wsdl:part name="port" type="s:string" />
    <wsdl:part name="relogio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LerEmpregadosHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="totalFuncionariosHttpPostIn">
    <wsdl:part name="ip" type="s:string" />
    <wsdl:part name="port" type="s:string" />
    <wsdl:part name="relogio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="totalFuncionariosHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="totalDigitaisHttpPostIn">
    <wsdl:part name="ip" type="s:string" />
    <wsdl:part name="port" type="s:string" />
    <wsdl:part name="relogio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="totalDigitaisHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="capacidadeDigitaisHttpPostIn">
    <wsdl:part name="ip" type="s:string" />
    <wsdl:part name="port" type="s:string" />
    <wsdl:part name="relogio" type="s:string" />
  </wsdl:message>
  <wsdl:message name="capacidadeDigitaisHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="setHoraHttpPostIn">
    <wsdl:part name="ip" type="s:string" />
    <wsdl:part name="port" type="s:string" />
    <wsdl:part name="relogio" type="s:string" />
    <wsdl:part name="dia" type="s:string" />
    <wsdl:part name="mes" type="s:string" />
    <wsdl:part name="ano" type="s:string" />
    <wsdl:part name="hora" type="s:string" />
    <wsdl:part name="minuto" type="s:string" />
    <wsdl:part name="segundo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setHoraHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="LerEmpregados">
      <wsdl:input message="tns:LerEmpregadosSoapIn" />
      <wsdl:output message="tns:LerEmpregadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="totalFuncionarios">
      <wsdl:input message="tns:totalFuncionariosSoapIn" />
      <wsdl:output message="tns:totalFuncionariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="totalDigitais">
      <wsdl:input message="tns:totalDigitaisSoapIn" />
      <wsdl:output message="tns:totalDigitaisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="capacidadeDigitais">
      <wsdl:input message="tns:capacidadeDigitaisSoapIn" />
      <wsdl:output message="tns:capacidadeDigitaisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setHora">
      <wsdl:input message="tns:setHoraSoapIn" />
      <wsdl:output message="tns:setHoraSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpGet">
    <wsdl:operation name="LerEmpregados">
      <wsdl:input message="tns:LerEmpregadosHttpGetIn" />
      <wsdl:output message="tns:LerEmpregadosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="totalFuncionarios">
      <wsdl:input message="tns:totalFuncionariosHttpGetIn" />
      <wsdl:output message="tns:totalFuncionariosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="totalDigitais">
      <wsdl:input message="tns:totalDigitaisHttpGetIn" />
      <wsdl:output message="tns:totalDigitaisHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="capacidadeDigitais">
      <wsdl:input message="tns:capacidadeDigitaisHttpGetIn" />
      <wsdl:output message="tns:capacidadeDigitaisHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="setHora">
      <wsdl:input message="tns:setHoraHttpGetIn" />
      <wsdl:output message="tns:setHoraHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebService1HttpPost">
    <wsdl:operation name="LerEmpregados">
      <wsdl:input message="tns:LerEmpregadosHttpPostIn" />
      <wsdl:output message="tns:LerEmpregadosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="totalFuncionarios">
      <wsdl:input message="tns:totalFuncionariosHttpPostIn" />
      <wsdl:output message="tns:totalFuncionariosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="totalDigitais">
      <wsdl:input message="tns:totalDigitaisHttpPostIn" />
      <wsdl:output message="tns:totalDigitaisHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="capacidadeDigitais">
      <wsdl:input message="tns:capacidadeDigitaisHttpPostIn" />
      <wsdl:output message="tns:capacidadeDigitaisHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="setHora">
      <wsdl:input message="tns:setHoraHttpPostIn" />
      <wsdl:output message="tns:setHoraHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LerEmpregados">
      <soap:operation soapAction="http://sgnservice.com.br/LerEmpregados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalFuncionarios">
      <soap:operation soapAction="http://sgnservice.com.br/totalFuncionarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalDigitais">
      <soap:operation soapAction="http://sgnservice.com.br/totalDigitais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="capacidadeDigitais">
      <soap:operation soapAction="http://sgnservice.com.br/capacidadeDigitais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setHora">
      <soap:operation soapAction="http://sgnservice.com.br/setHora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LerEmpregados">
      <soap12:operation soapAction="http://sgnservice.com.br/LerEmpregados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalFuncionarios">
      <soap12:operation soapAction="http://sgnservice.com.br/totalFuncionarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalDigitais">
      <soap12:operation soapAction="http://sgnservice.com.br/totalDigitais" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="capacidadeDigitais">
      <soap12:operation soapAction="http://sgnservice.com.br/capacidadeDigitais" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setHora">
      <soap12:operation soapAction="http://sgnservice.com.br/setHora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpGet" type="tns:WebService1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="LerEmpregados">
      <http:operation location="/LerEmpregados" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalFuncionarios">
      <http:operation location="/totalFuncionarios" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalDigitais">
      <http:operation location="/totalDigitais" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="capacidadeDigitais">
      <http:operation location="/capacidadeDigitais" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setHora">
      <http:operation location="/setHora" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1HttpPost" type="tns:WebService1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="LerEmpregados">
      <http:operation location="/LerEmpregados" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalFuncionarios">
      <http:operation location="/totalFuncionarios" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="totalDigitais">
      <http:operation location="/totalDigitais" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="capacidadeDigitais">
      <http:operation location="/capacidadeDigitais" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setHora">
      <http:operation location="/setHora" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://172.16.0.6/SGNManagerWS/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://172.16.0.6/SGNManagerWS/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpGet" binding="tns:WebService1HttpGet">
      <http:address location="http://172.16.0.6/SGNManagerWS/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1HttpPost" binding="tns:WebService1HttpPost">
      <http:address location="http://172.16.0.6/SGNManagerWS/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>