src/java/META-INF/WebService1.asmx.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sgnservice.com.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://sgnservice.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sgnservice.com.br/">
      <s:element name="conectarIdData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="porta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="conectarIdDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conectarIdDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="desconectarIdData">
        <s:complexType />
      </s:element>
      <s:element name="desconectarIdDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="desconectarIdDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lerEmpregadosIdData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="porta" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lerEmpregadosIdDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lerEmpregadosIdDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="conectarZK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IPAdd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Port" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="conectarZKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="conectarZKResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LerEmpregadosZK">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IPAdd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Port" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LerEmpregadosZKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LerEmpregadosZKResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LerConfiguracao_VersaoBiometrico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Porta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Senha" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LerConfiguracao_VersaoBiometricoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LerConfiguracao_VersaoBiometricoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LerEmpregados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Porta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Senha" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LerEmpregadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LerEmpregadosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LerEmpregados_ViaLista">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Porta" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Senha" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LerEmpregados_ViaListaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LerEmpregados_ViaListaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="conectarIdDataSoapIn">
    <wsdl:part name="parameters" element="tns:conectarIdData" />
  </wsdl:message>
  <wsdl:message name="conectarIdDataSoapOut">
    <wsdl:part name="parameters" element="tns:conectarIdDataResponse" />
  </wsdl:message>
  <wsdl:message name="desconectarIdDataSoapIn">
    <wsdl:part name="parameters" element="tns:desconectarIdData" />
  </wsdl:message>
  <wsdl:message name="desconectarIdDataSoapOut">
    <wsdl:part name="parameters" element="tns:desconectarIdDataResponse" />
  </wsdl:message>
  <wsdl:message name="lerEmpregadosIdDataSoapIn">
    <wsdl:part name="parameters" element="tns:lerEmpregadosIdData" />
  </wsdl:message>
  <wsdl:message name="lerEmpregadosIdDataSoapOut">
    <wsdl:part name="parameters" element="tns:lerEmpregadosIdDataResponse" />
  </wsdl:message>
  <wsdl:message name="conectarZKSoapIn">
    <wsdl:part name="parameters" element="tns:conectarZK" />
  </wsdl:message>
  <wsdl:message name="conectarZKSoapOut">
    <wsdl:part name="parameters" element="tns:conectarZKResponse" />
  </wsdl:message>
  <wsdl:message name="LerEmpregadosZKSoapIn">
    <wsdl:part name="parameters" element="tns:LerEmpregadosZK" />
  </wsdl:message>
  <wsdl:message name="LerEmpregadosZKSoapOut">
    <wsdl:part name="parameters" element="tns:LerEmpregadosZKResponse" />
  </wsdl:message>
  <wsdl:message name="LerConfiguracao_VersaoBiometricoSoapIn">
    <wsdl:part name="parameters" element="tns:LerConfiguracao_VersaoBiometrico" />
  </wsdl:message>
  <wsdl:message name="LerConfiguracao_VersaoBiometricoSoapOut">
    <wsdl:part name="parameters" element="tns:LerConfiguracao_VersaoBiometricoResponse" />
  </wsdl:message>
  <wsdl:message name="LerEmpregadosSoapIn">
    <wsdl:part name="parameters" element="tns:LerEmpregados" />
  </wsdl:message>
  <wsdl:message name="LerEmpregadosSoapOut">
    <wsdl:part name="parameters" element="tns:LerEmpregadosResponse" />
  </wsdl:message>
  <wsdl:message name="LerEmpregados_ViaListaSoapIn">
    <wsdl:part name="parameters" element="tns:LerEmpregados_ViaLista" />
  </wsdl:message>
  <wsdl:message name="LerEmpregados_ViaListaSoapOut">
    <wsdl:part name="parameters" element="tns:LerEmpregados_ViaListaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="conectarIdData">
      <wsdl:input message="tns:conectarIdDataSoapIn" />
      <wsdl:output message="tns:conectarIdDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="desconectarIdData">
      <wsdl:input message="tns:desconectarIdDataSoapIn" />
      <wsdl:output message="tns:desconectarIdDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="lerEmpregadosIdData">
      <wsdl:input message="tns:lerEmpregadosIdDataSoapIn" />
      <wsdl:output message="tns:lerEmpregadosIdDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="conectarZK">
      <wsdl:input message="tns:conectarZKSoapIn" />
      <wsdl:output message="tns:conectarZKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LerEmpregadosZK">
      <wsdl:input message="tns:LerEmpregadosZKSoapIn" />
      <wsdl:output message="tns:LerEmpregadosZKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LerConfiguracao_VersaoBiometrico">
      <wsdl:input message="tns:LerConfiguracao_VersaoBiometricoSoapIn" />
      <wsdl:output message="tns:LerConfiguracao_VersaoBiometricoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LerEmpregados">
      <wsdl:input message="tns:LerEmpregadosSoapIn" />
      <wsdl:output message="tns:LerEmpregadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LerEmpregados_ViaLista">
      <wsdl:input message="tns:LerEmpregados_ViaListaSoapIn" />
      <wsdl:output message="tns:LerEmpregados_ViaListaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="conectarIdData">
      <soap:operation soapAction="http://sgnservice.com.br/conectarIdData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="desconectarIdData">
      <soap:operation soapAction="http://sgnservice.com.br/desconectarIdData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lerEmpregadosIdData">
      <soap:operation soapAction="http://sgnservice.com.br/lerEmpregadosIdData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="conectarZK">
      <soap:operation soapAction="http://sgnservice.com.br/conectarZK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LerEmpregadosZK">
      <soap:operation soapAction="http://sgnservice.com.br/LerEmpregadosZK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LerConfiguracao_VersaoBiometrico">
      <soap:operation soapAction="http://sgnservice.com.br/LerConfiguracao_VersaoBiometrico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LerEmpregados">
      <soap:operation soapAction="http://sgnservice.com.br/LerEmpregados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LerEmpregados_ViaLista">
      <soap:operation soapAction="http://sgnservice.com.br/LerEmpregados_ViaLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="conectarIdData">
      <soap12:operation soapAction="http://sgnservice.com.br/conectarIdData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="desconectarIdData">
      <soap12:operation soapAction="http://sgnservice.com.br/desconectarIdData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lerEmpregadosIdData">
      <soap12:operation soapAction="http://sgnservice.com.br/lerEmpregadosIdData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="conectarZK">
      <soap12:operation soapAction="http://sgnservice.com.br/conectarZK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LerEmpregadosZK">
      <soap12:operation soapAction="http://sgnservice.com.br/LerEmpregadosZK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LerConfiguracao_VersaoBiometrico">
      <soap12:operation soapAction="http://sgnservice.com.br/LerConfiguracao_VersaoBiometrico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LerEmpregados">
      <soap12:operation soapAction="http://sgnservice.com.br/LerEmpregados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LerEmpregados_ViaLista">
      <soap12:operation soapAction="http://sgnservice.com.br/LerEmpregados_ViaLista" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost/SGNManagerWS/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost/SGNManagerWS/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>